*

!alacritty/
!alacritty/**

!colors/
!colors/**

!eww/
!eww/**

!hypr/
!hypr/**

!nvim/
!nvim/**

!rofi/
!rofi/**

!swaync/
!swaync/**

!waybar/
!waybar/**

!wofi/
!wofi/**

!zed/
!zed/**

!.gitignore
