@define-color rosewater #f4dbd6;
@define-color flamingo #f0c6c6;
@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color yellow #eed49f;
@define-color green #a6da95;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color blue #8aadf4;
@define-color lavender #b7bdf8;
@define-color text #cad3f5;
@define-color subtext1 #b8c0e0;
@define-color subtext0 #a5adcb;
@define-color overlay2 #939ab7;
@define-color overlay1 #8087a2;
@define-color overlay0 #6e738d;
@define-color surface2 #5b6078;
@define-color surface1 #494d64;
@define-color surface0 #363a4f;
@define-color base #24273a;
@define-color mantle #1e2030;
@define-color crust #181926;

@define-color rosewater-transparent rgba(244, 219, 214, 0.9);
@define-color flamingo-transparent rgba(240, 198, 198, 0.9);
@define-color pink-transparent rgba(245, 189, 230, 0.9);
@define-color mauve-transparent rgba(198, 160, 246, 0.9);
@define-color red-transparent rgba(237, 135, 150, 0.9);
@define-color maroon-transparent rgba(238, 153, 160, 0.9);
@define-color peach-transparent rgba(245, 169, 127, 0.9);
@define-color yellow-transparent rgba(238, 212, 159, 0.9);
@define-color green-transparent rgba(166, 218, 149, 0.9);
@define-color teal-transparent rgba(139, 213, 202, 0.9);
@define-color sky-transparent rgba(145, 215, 227, 0.9);
@define-color sapphire-transparent rgba(125, 196, 228, 0.9);
@define-color blue-transparent rgba(138, 173, 244, 0.9);
@define-color lavender-transparent rgba(183, 189, 248, 0.9);
@define-color text-transparent rgba(202, 211, 245, 0.9);
@define-color subtext1-transparent rgba(184, 192, 224, 0.9);
@define-color subtext0-transparent rgba(165, 173, 203, 0.9);
@define-color overlay2-transparent rgba(147, 154, 183, 0.9);
@define-color overlay1-transparent rgba(128, 135, 162, 0.9);
@define-color overlay0-transparent rgba(110, 115, 141, 0.9);
@define-color surface2-transparent rgba(91, 96, 120, 0.9);
@define-color surface1-transparent rgba(73, 77, 100, 0.9);
@define-color surface0-transparent rgba(54, 58, 79, 0.9);
@define-color base-transparent rgba(36, 39, 58, 0.9);
@define-color mantle-transparent rgba(30, 32, 48, 0.9);
@define-color crust-transparent rgba(24, 25, 38, 0.9);
